<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DeezerListView"></activity>
        <activity android:name=".DeezerSearchedArtist" />
        <activity android:name=".SongListView" />
        <activity android:name=".DeezerActivity" />
        <activity android:name=".DeezerSearch" />
        <activity android:name=".EmptyActivity" />
        <activity android:name=".FavoriteDisplayed" />


        <activity android:name=".SongEmptyActivity" />
        <activity android:name=".SongFavoriteDisplayed" />
        <activity android:name=".SongListClass" />
        <activity android:name=".SongLyricsPage" />
        <activity android:name=".GeoDataActivity"/>
        <activity


            android:name=".SongSearchClass"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".SongSearch"
            android:windowSoftInputMode="stateHidden" />
        android:theme="@style/AppTheme">
        <activity android:name=".SoccerWebViewActivity"></activity>
        <activity android:name=".SoccerDeleteFragment" />
        <activity android:name=".SoccerDeleteEmptyActivity" />
        <activity android:name=".SoccerFavoriteList" />
        <activity android:name=".SoccerEmptyActivity" />
        <activity android:name=".SoccerMain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>